# ROS2
build/
install/
log/

# Python
.venv/
__pycache__/
*.pyc

# VSCode & IDEs
.vscode/
.idea/

# System & Logs
*.log

# Generated Benchmark & Health Inspection Logs/Reports
brone_*.csv
brone_report_*.html
brone_report_*.png
baseline_*.txt
